.navbar{
    background-color: rgb(240, 241, 244);
    border-radius: 13px;
    position: relative;
    .picture{
        border-radius: 20px;
        width: 40px;
    }

}
.icon{
    color:#3252DF !important;
}
