#addnewItem{
    background-color: rgba(237, 237, 237, 0.455);
    margin: 20px 10px;
    border-radius: 20px;
    padding: 5px 10px;
}
.imgUser {
    width: 60px;
    height: 60px;
    border-radius: 10px;
  }
.pointer{
    cursor: pointer;
    color: rgb(165, 158, 158);;
}